@using Bump.Components
@model Bump.Models.MessageVM

@{
    Layout = "Components/Message/BaseMessage";
}

<div class="bump-container-xs">
    <button class="btn btn-outline-danger btn-sm" onclick="deleteMessage(@Model.Id , '@Url.Action("DeleteMessage", "Message")')">Delete</button>
</div>