@using Bump.Components
@model Bump.Models.MessageVM

@{
    Layout = "Components/Message/BaseMessage";
}

<form method="get" asp-controller="Message" asp-action="UpdateMessage">
    <div class="bump-container-xs">
        <button class="btn btn-outline-primary btn-sm" type="submit" name="id" value="@Model.Id">Edit</button>
    </div>
</form>
<div class="bump-container-xs">
    <button class="btn btn-outline-danger btn-sm" onclick="deleteMessage(@Model.Id , '@Url.Action("DeleteMessage", "Message")')">Delete</button>
</div>