@model Entities.Media

<img style="height: 75%" src="/doc.png" alt=""/>
<div style="height: 25%; width: 100%; display: flex; justify-content: center; align-items: center">
    <div style="display: -webkit-box;-webkit-line-clamp: 1; -webkit-box-orient: vertical;line-height:100%; margin: 0;overflow: hidden; font-size: x-small">@Model.Name</div>
</div>