@using Bump.Components
@model MessageVM

<script>

    function uploadFile() {
      document.getElementById('message_form').submit()
    }

</script>

<div>
    <form id="message_form" method="post" enctype="multipart/form-data" asp-controller="Message" asp-action="@Model.Method">
        <div class="form-group">
            <label asp-for="Content"></label><br/>
            <input asp-for="Content" value="@Model.Content" class="form-control"/>
            <span class="text-danger" asp-validation-for="Content"></span>
        </div>
        <input type="hidden" asp-for="Theme">
        <input type="hidden" asp-for="Id">
        <input type="hidden" asp-for="Method">

        <div style="margin-top: 10px; margin-left: 5px" class="row">
            @foreach (var media in Model.Media)
            {
                <div class="image-column">
                    <div style="height: 100%; width: auto; border: 1px #ccc;">
                        @await Component.InvokeAsync(typeof(Media), new {id = media})
                    </div>
                </div>
            }
            @if (Model.Media.Count < 10)
            {
                <div class="col-md-1">
                    <div class="centered_cont">
                        <div class="upload-button">
                            <div class="label">+</div>
                            <input name="UploadingMedia" type="file" size="1" onchange="uploadFile();"/>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div style="margin-top: 10px">
            <button name="action" class="btn btn-primary" type="submit" value="submit">@Strings["Submit"]</button>
        </div>

    </form>
</div>