@page
@model LogoutModel
@inject IViewLocalizer Localizer
@{
    ViewData [ "Title" ] = Localizer [ "Title" ];
}

<header>
    <h1>@ViewData[ "Title" ]</h1>
    <p>@Localizer[ "Description" ]</p>
</header>