@model LoginModel
@{
    ViewData["Title"] = "Log in";
}
<form method="post" asp-controller="User" asp-action="Login">
    <div>
        <label asp-for="Name"></label><br/>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br/>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input type="submit" value="Send"/>
    </div>
</form>

<form method="get" action="/User/Register">
    <input type="submit" value="Register">
</form>