@model LoginModel
@{
    ViewData["Title"] = "Log in";
}
<div class="row">

    <div class="col-md-6">
        <h3>Local Account</h3>
        <hr/>
        <form style="padding-left: 20px" method="post" asp-controller="User" asp-action="Login">
            <div>
                <label asp-for="Name"></label><br/>
                <input asp-for="Name"/>
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Password"></label><br/>
                <input asp-for="Password"/>
                <span asp-validation-for="Password"></span>
            </div>
            <div style="margin-bottom: 10px; margin-top: 10px">
                <button class="btn btn-primary" type="submit">Log in</button>
            </div>
        </form>

        <form method="get" action="/User/Register">
            <div style="margin-bottom: 10px; margin-top: 10px; padding-left: 20px">
                <button class="btn btn-outline-primary" type="submit">Register</button>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <h3>External Account</h3>
        <hr/>
        <form style="padding-left: 20px" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
            @foreach (var provider in Model.Providers)
            {
                <button type="submit" name="provider" value="@provider.Name" class="btn btn-primary">@provider.DisplayName</button>
            }
        </form>
    </div>

</div>