@model RegistrationModel
@{
    ViewData["Title"] = "Registration";
    Layout = "UnsignedLayout";
}
<form method="post" asp-controller="User" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Login"></label><br/>
        <input asp-for="Login"/>
        <span asp-validation-for="Login"></span>
    </div>
    <div>
        <label asp-for="Name"></label><br/>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br/>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="Password2"></label><br/>
        <input asp-for="Password2"/>
        <span asp-validation-for="Password2"></span>
    </div>
    <div style="margin-top: 20px">
        <input class="btn-primary" type="submit" value="Register"/>
    </div>
</form>